/* */
.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus, html head+body .ui-body-a.ui-focus {
    -webkit-box-shadow: 0 0 12px #408151;
    -moz-box-shadow: 0 0 12px #408151;
    box-shadow: 0 0 12px #408151;
}
/* Lista de Contatos */
#listacontatos li.ui-li-divider{
	height: auto;
}
#listacontatos li{
	height: 60px;
}
#listacontatos li a{
	padding-top:0;
	padding-bottom:0;
	padding-left: 4.25em;
}
#listacontatos li a img{
	border: 5px solid rgb(255,255,255);
}
#listacontatos li a h2{
	font-size: 12px;
	margin-top: 5px;

}

/*Pós - Graduação*/
.ui-field-contain {
	border:none;
}
#documento{
	display: none;
}

/*Sala de Aula*/

h2.diatitle{text-align: center;}

#graduacao ul#result{
	margin: 0;
	padding: 0;
}

#graduacao ul#result li {
    display: block;
    box-shadow: -2px 2px 1px rgba(0,0,0,0.2);
    padding: 30px 10px 5px;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
}
#graduacao ul#result li div.h, #graduacao ul#result li div.s {
	font-size: 12px;
    position: absolute;
    margin-top: -21px;
}
#graduacao ul#result li div.h {
	color: rgb(120,120,120);
}
#graduacao ul#result li div.s{ 
    right: 0;
    margin-right: 20px;
    color: rgb(120,120,120);
}
#graduacao ul#result li div.do{
	position: relative;
	color: rgb(180,180,180);
}

#graduacao ul#result li div.do img{
	width: 25px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
#graduacao ul#result li div.do span{
	margin-top: 11px;
    position: absolute;
    font-size: 12px;
}

.white{
	background-color: rgb(255,255,255);
}
/* Headers */
div[data-role=page] > div[data-role=header] {
	background-color: rgb(255,255,255);
    box-shadow: 0px -5px 10px rgba(0,0,0,1);
}
div[data-role=page] > div[data-role=header] img {
    margin: 1px 5px;
    float: right;
}
.ui-header .ui-title{
	display:  inline-block;
	color: #408151; /*Verde da logo*/
	margin: 0;
}

/*Menu Button*/
div[data-role='header'] > a.ui-btn {
    border: none;
    background-color: transparent;
    padding-top: 5px;
}

div[data-role='header'] > a.ui-btn .ui-btn-icon-left:after, 
div[data-role='header'] > a.ui-btn .ui-btn-icon-right:after, 
div[data-role='header'] > a.ui-btn .ui-btn-icon-top:after, 
div[data-role='header'] > a.ui-btn .ui-btn-icon-bottom:after, 
div[data-role='header'] > a.ui-btn .ui-btn-icon-notext:after {
	color: #408151;
}
div[data-role='header'] > a.ui-btn:hover,
div[data-role='header'] > a:hover.ui-btn {
    border: none;
    background-color: white;
}

/* .ui-btn-icon-notext:after*/
div[data-role='header'] > a.ui-btn-icon-left:after,
div[data-role='header'] > a.ui-btn-icon-notext:after{
    border: none;
    background-color: #408151;
}
div[data-role='header'] a.ui-btn:focus {
	box-shadow: none;
}

/*Panel*/
#appmenu .ui-panel-inner {
    padding: 0;
    margin: 0;
    background-color: #F6F6F6;
}
#appmenu .ui-panel-inner div[data-role='header']{
	padding: 5px 5px 0;
}
#appmenu ul {
    padding: 0;
    margin: 0;
}

#appmenu ul li a {
    margin: 0;
    border: 0;
    text-align: left;
    color: rgb(100,100,100);
    padding: 20px 40px;
}

#appmenu ul li a.ui-btn-active{
	background-color: #408151;
	color:  #fff;
}
#appmenu ul li a.ui-btn-active .ui-btn-icon-left:after{
	background-color: #408151;
}
#appmenu ul li a.ui-btn:focus {
	box-shadow: none;
}

