/*
@media ( min-width: 20em ) {
	.meu-breakpoint td,
	.meu-breakpoint th,
	.meu-breakpoint tbody th,
	.meu-breakpoint tbody td,
	.meu-breakpoint thead td,
	.meu-breakpoint thead th {
		display: table-cell;
		margin: 0;
	}
	.meu-breakpoint td .ui-table-cell-label,
	.meu-breakpoint th .ui-table-cell-label {
		display: none;
	}
}
*/
/*
@media all and (max-width:20em){
	.meu-breakpoint ui-block-a,
	.meu-breakpoint ui-block-b,
	.meu-breakpoint ui-block-c,
	.meu-breakpoint ui-block-d {
		width: 100%;
		float: none;
	}
}
*/