h1.diatitle{text-align: center;}
ul#header li, ul#result li{
	list-style: none;
}
ul#header li div, ul#result li div{
	float: left;
}
ul#header li div.h, ul#result li div.h{	width: 10%; }
ul#header li div.s, ul#result li div.s{	width: 10%; }
ul#header li div.t, ul#result li div.t{	width: 10%; }
ul#header li div.di, ul#result li div.di{	width: 45%; }
ul#header li div.do, ul#result li div.do{	width: 35%; }

ul#result {
	height: auto;
	overflow: hidden;
}

ul#result li {
	height: 49px;
	padding: 14px;
	border-bottom: 1px dashed #ccc;
}

ul#result li div.do img{
	width: 40px;
	border-radius: 20px;
	margin-right: 20px;
	margin-top: -10px;
}



